body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    align-items: center;
    width: 100%;
    margin-left: 10px;
    background-repeat: no-repeat;
    display: flex;
    background-size: 100%;
    color: #272525;
}

.sub-title h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    color: #161616;
}

.sub-title a {
    text-decoration: none;
}

figcaption {
    color: #e70a0a;
    font-style: italic;
    font-weight: bolder;

}

nav {
    margin-left: 350px;
    padding: 5px;
}

nav ul {
    float: left;
    padding: 10px;
}

nav ul li {
    list-style: none;
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #ca1414;
    text-decoration: none;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul li a:hover {
    background-color: #161616;
    border-radius: 5px;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
}

nav ul li:hover ul {
    display: block;
}



/* home page */
#container {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#container h1 {
    font-size: 50px;
    color: white;
    font-style: italic;
}

.container {
    overflow: auto;
    display: flex;
    align-items: flex-start;
    width: 800px;
}

.mission {
    background-color: turquoise;
    margin: 0px;
    width: fit-content;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mission i {
    color: #340a52;
    font-size: 100px;
}

.paragraph {
    font-size: 20px;
    color: rgb(10, 10, 10);
    margin: auto;
    padding: 3px;
    line-height: 1.6;
}

.container-1 {
    overflow: auto;
    float: right;
    align-items: flex-start;
    width: 800px;
    margin-top: 20px;
}

.vision {
    background-color: #340a52;
    margin: 0px;
    width: fit-content;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    float: right;
}

.vision i {
    color: turquoise;
    font-size: 100px;
}

.container-2 {
    overflow: auto;
    display: flex;
    align-items: flex-start;
    width: 600px;
    margin-top: 20px;
}

.paragraph2 {
    font-size: 20px;
    color: rgb(10, 10, 10);
    padding: 3px;
    line-height: 1.6;
}

.values {
    background-color: turquoise;
    margin: 0px;
    width: fit-content;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.values i {
    color: #340a52;
    font-size: 100px;
}

.paragraph li {
    font-size: 20px;
    text-align: left;
    padding: 3px;
    line-height: 1.6;

}

.intro p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

/*thematic*/
.header1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(162, 0, 255, 0.712);
    font-style: oblique;
}

.thematic {
    display: flex;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5px;
}

.thematic-box1,
.thematic-box2,
.thematic-box3,
.thematic-box4,
.thematic-box5,
.thematic-box6 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
}

.thematic-box1:hover,
.thematic-box2:hover,
.thematic-box3:hover,
.thematic-box4:hover,
.thematic-box5:hover,
.thematic-box6:hover {
    background-color: rgba(131, 76, 76, 0.727);
    transition-duration: 0.3s;
}

.thematic1 {
    display: flex;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5px;
}

.thematicbtn {
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    position: relative;
    left: 600px;
    background-color: #8d2121;
    cursor: pointer;
}

.thematicbtn a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #dbd4d4;
}

.partnership {
    background-color: #528282;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 30px;
}

.partnership h1 {
    font-size: 30px;
    text-decoration: underline;
    color: #c0b492;
}

.partnership i {
    margin: 3px;
    font-size: 45px;
    color: #db7917;
}


/*project*/
.div {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}

.box {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;
}

.box h1 {
    color: rgba(226, 243, 130, 0.712);
}

h2 {
    text-decoration: underline 3px solid;
    color: #c0b492;
}

.togglebtn {
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: #cab9b9;
    color: red;
}

.togglebtn:hover {
    background-color: rgb(12, 11, 9)
}

.content {
    display: none;
}

.content p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

.content li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: lower-roman;
    padding: 4px;
    color: rgb(13, 12, 12);
    text-align: center;
}

.content h3 {
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}

.box1 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box1 h1 {
    color: rgba(226, 243, 130, 0.712);
}

.box2 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box2 h1 {
    color: rgba(226, 243, 130, 0.712);
}

.box3 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box3 h1 {
    color: rgba(226, 243, 130, 0.712);
}

.box4 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box4 h1 {
    color: rgba(215, 231, 125, 0.712);
}

.box5 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box5 h1 {
    color: rgba(215, 231, 125, 0.712);
}

.box6 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box6 h1 {
    color: rgba(215, 231, 125, 0.712);
}

.box7 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box7 h1 {
    color: rgba(215, 231, 125, 0.712);
}

.box8 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box8 h1 {
    color: rgba(215, 231, 125, 0.712);
}

.box9 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box9 h1 {
    color: rgba(215, 231, 125, 0.712);
}

.box10 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box10 h1 {
    color: rgba(215, 231, 125, 0.712);
}

.box11 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box11 h1 {
    color: rgba(215, 231, 125, 0.712);
}

/*contact*/
.contact {
    text-align: center;
    background-color: rgba(6, 6, 148, 0.829);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.contact h1 {
    color: #f4f4f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
}

.contact p {
    color: #cab9b9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.contact button {
    padding: 15px;
    border-radius: 10px;
}

.contact button:hover {
    background-color: cadetblue
}

.header {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(162, 0, 255, 0.712);
}

.contact-group {
    display: flex;
    gap: 20px;
    box-shadow: #555;
}

.contact-box {
    background-color: #c0b492;
    padding: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    margin-left: 20px;
    width: 33%;
}

.contact-box i {
    color: blue;
    font-size: 30px;
}

.contact-header {
    font-size: 20px;
}

.contact-box1 {
    background-color: #c0b492;
    padding: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    margin-left: 20px;
    width: 33%;
}

.contact-box1 i {
    color: blue;
    font-size: 30px;
}

.contact-box2 {
    background-color: #c0b492;
    padding: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    margin-left: 20px;
    width: 33%;
}

.contact-box2 i {
    color: blue;
    font-size: 30px;
}

.donate-btn {
    border-radius: 5px;
    padding: 10px;
    background-color: chartreuse;
}

.donate-btn a {
    text-decoration: none;
    font-weight: bold;
}

.donate-box {
    color: #333;
    text-align: center;
    margin-top: 10px;
}

.donate-box p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #cab9b9;
}

.social-icons {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    gap: 10px;
}

.social-icons i {
    color: #cab9b9;
}

/*home-photos*/
.slide-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 8px;
    height: 800px;



}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px, 15px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(110, 33, 33, 0.8);
}

.dots-container {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dot.active {
    background-color: white;
    transform: scale(1.2);
}