/*spark*/
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

.logo {
    background-color: white;
    display: flex;
}

nav {
    margin-left: 350px;
    padding: 5px;
}

nav ul {
    float: left;
    padding: 10px;
}

nav ul li {
    list-style: none;
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #0a0a0a;
    text-decoration: none;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 20px;
}

nav ul li a:hover {
    background-color: #bd6412;
    border-radius: 5px;
}

.para {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.para:hover {
    color: #bd6412;
}

.container {
    overflow: auto;
    display: flex;
    align-items: flex-start;
    width: 800px;
}

.mission {
    background-color: turquoise;
    margin: 0px;
    width: fit-content;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mission i {
    color: #340a52;
    font-size: 100px;
}

.paragraph {
    font-size: 20px;
    color: black;
    margin: auto;
    padding: 3px;
    line-height: 1.6;
}

.container-1 {
    overflow: auto;
    float: right;
    align-items: flex-start;
    width: 800px;
    margin-top: 20px;
}

.vision {
    background-color: #340a52;
    margin: 0px;
    width: fit-content;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    float: right;
}

.vision i {
    color: turquoise;
    font-size: 100px;
}

.container-2 {
    overflow: auto;
    display: flex;
    align-items: flex-start;
    width: 600px;
    margin-top: 20px;
}

.paragraph2 {
    font-size: 20px;
    color: black;
    padding: 3px;
    line-height: 1.6;
}

.values {
    background-color: turquoise;
    margin: 0px;
    width: fit-content;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.values i {
    color: #340a52;
    font-size: 100px;
}

.paragraph li {
    font-size: 20px;
    text-align: left;
    padding: 3px;
    line-height: 1.6;

}