.logo {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}

.logo h1 {
    margin-left: 10px;
}

.navbar {
    margin-left: 150px;
    display: flex;
    padding-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid black;
    background-color: #c0b492;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-left: 10px;
    justify-content: center;
    color: rgb(148, 80, 80);
}

.nav-item {
    position: relative;
    margin: 0, 20px;
}

.nav-link {
    color: rgb(189, 18, 18);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #110f0f;
    border-radius: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #c0b492;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(219, 28, 28, 0.2);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    border-radius: 4px;
}

.dropdown-menu li a {
    color: rgb(19, 20, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.dropdown-menu li {
    color: #bd35a6;
}

.dropdown-items:hover {
    background-color: #e71818;
}

.dropdown.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* home page */
.container h1 {
    text-align: center;
    padding: 20px;
    color: coral;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.container p {
    text-align: center;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.container-1 {
    text-align: center;
    padding: 10px;
    gap: 10px;
    display: flex;
    height: 250px;
    background-color: brown;
}

.mission,
.vision,
.core-values {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mission h2,
.vision h2,
.core-values h2 {
    color: #8d2121;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
}

.mission p,
.vision p,
.core-values li {
    color: #555;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    font-size: medium;
}

.intro {
    text-align: center;
}

.intro h1 {
    color: #c0b492;
    font-family: fantasy;
    font-size: 40px;
    font-weight: 400;
}

.intro p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/*project*/
.box {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box h1 {
    color: rgba(226, 243, 130, 0.712);
}

.togglebtn {
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: #cab9b9;
    color: red;
}

.togglebtn:hover {
    background-color: rgb(12, 11, 9)
}

.content {
    display: none;
}

.content p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: lower-roman;
    padding: 5px;
}

.content h3 {
    font-weight: bold;
    font-size: 20px;
}

.box2 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box2 h1 {
    color: rgba(226, 243, 130, 0.712);
}

.box3 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box3 h1 {
    color: rgba(226, 243, 130, 0.712);
}

.box4 {
    background-color: rgba(131, 106, 106, 0.527);
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 30px;

}

.box4 h1 {
    color: rgba(215, 231, 125, 0.712);
}


/*contact*/
.contact {
    text-align: center;
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}

.contact h1 {
    color: #f4f4f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
}

.contact p {
    color: #cab9b9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.contact button {
    padding: 15px;
    border-radius: 10px;
}

.contact button:hover {
    background-color: cadetblue
}

.header {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 255, 0.712);
}

.contact-group {
    display: flex;
    gap: 20px;
    box-shadow: #555;
}

.contact-box {
    background-color: #c0b492;
    padding: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    margin-left: 20px;
    width: 33%;
}

.contact-box i {
    color: blue;
    font-size: 30px;
}

.contact-header {
    font-size: 20px;
}

.contact-box1 {
    background-color: #c0b492;
    padding: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    margin-left: 20px;
    width: 33%;
}

.contact-box1 i {
    color: blue;
    font-size: 30px;
}

.contact-box2 {
    background-color: #c0b492;
    padding: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    margin-left: 20px;
    width: 33%;
}

.contact-box2 i {
    color: blue;
    font-size: 30px;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #cab9b9;
}

/*gallery*/
.gallery-container {
    text-align: center;
}